article div {
  background-color: #fbf7e3;
  color: #642808;

  padding: 30px;
  text-align: center;
  border-radius: 25px;
}
.containerArticle h2 {
  text-align: left;
  margin-top: 0;
  font-size: 1rem;
}
article div p {
  text-align: left;
  margin-bottom: 30px;
  font-size: 0.7rem;
}

article div img {
  display: block;

  width: 100%;
}
