.containerNav {
  background-color: #fbf7e3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
}
header button {
  background-color: #f3df85;
  width: 17%;
  margin-block: 15px;
  border: none;
  border-radius: 40px;
  font-size: 10px;
  line-height: 30px;
  color: #642808;
  font-weight: bold;
}

button:nth-of-type(3) {
  width: 25%;
  height: 50px;
}

.shopBtn {
  display: flex;
  align-items: center;
  padding-inline: 12px;
  justify-content: space-between;
  font-size: 15px;
}

button div img {
  width: 38%;
  margin-right: 1px;
}
